src/main/mule/training-reports-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-report-by-email" doc:id="289c8b5c-c8ac-419b-bb58-1218ab0e1f8b" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="4e42e9e1-aeb8-4b12-97b4-48c5267a9ad9" >
			<route >
				<flow-ref doc:name="get-trainer-info" doc:id="abb23b99-c70a-4d4d-a44c-c2bb565bc033" name="get-trainer-info" />
			</route>
			<route >
				<flow-ref doc:name="get-batch-ids" doc:id="78462453-deca-423d-a07e-2cdfebfd1744" name="get-batch-ids"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="221fcf94-7502-42d6-bceb-965bc7282dff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a1d65eb3-41a6-4bfb-af53-9778102bbb6b" />
	</flow>
	<flow name="get-trainer-info" doc:id="25390650-cb32-4cd2-9059-cc1cdb7a6291" >
		<http:request method="GET" doc:name="Request" doc:id="90781def-66ea-4f12-8b6b-c9500e972fae" config-ref="HTTP_Request_configuration" path="${get-trainer-info.path}/{email}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="d7ef883b-898c-4227-96d8-c784b9219ec8" />
	</flow>
	<flow name="get-batch-ids" doc:id="82e625b3-4519-4b99-ba66-21359659a088" >
		<http:request method="GET" doc:name="Request" doc:id="b01d2c8d-ac8f-4475-965d-87f2fff1fb2d" config-ref="HTTP_Request_configuration" path="${get-trainer-info.path}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"trainerEmail" : vars.trainerEmail
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"email" : vars.trainerEmail
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="f20e090e-d14d-4d22-819b-698802aaf4c7" />
	</flow>
</mule>
